# MAX Bot API Configuration
MAX_BOT_TOKEN=f9LHodD0cOJqfNWL2Ejj6UFlNXrF1wVPxli3I3xOL-IDOM8jNLW8ZRdwSZc0Nf-xH3Sb-XrqRUISiyWwIt6S
MAX_API_URL=https://platform-api.max.ru
MAX_POLLING_TIMEOUT=30
MAX_POLLING_LIMIT=100